ul li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
    background-color: green;
    color: white;
    display: block;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

ul.horizon li {
    display: inline;
}

ul li:hover {
    background-color: orange;
    color: yellow;
}

/*
margin bawah 5px
padding 5px
bacground color hijau
color white
display box
width 100px
height 80px
tinggi garis 80px
posisi teks ditengah
*/